doctype html
html
  head
    title= title
    link(href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css", rel="stylesheet")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")  
    link(href="/stylesheets/summernote.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js")
    script(src='/javascripts/summernote.js')
    script(src='/javascripts/main.js')

  body
    header
      ul 
        li
          h1.title Storybreak
          p.subtitle "Follow trending stories in the news"
        li
          About
    block content
    script(src='/javascripts/body.js')
