html, body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 1000px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@keyframes lettercondense {
    from {
    	letter-spacing: 20px;
    	opacity: 0;
    }
    to {
    	letter-spacing: 2px;
    	opacity: 1;
    }
}

@keyframes fadeup {
    from {
    	margin-top: 50px;
    	opacity: 0;
    }
    to {
    	margin-top: 20px;
    	opacity: 1;
    }
}

@keyframes fadein {
    from {
    	opacity: 0;
    }
    to {
    	opacity: 1;
    }
}

@keyframes fadehover {
    from {
    	opacity: 1;
    }
    to {
    	opacity: .7;
    }
}

@keyframes slideHeight {
    from {
    	height: 0px;
    }
    to {
    	height: 50px;
    }
}

.unset-table-value,
.unset-table-value * {
	display: block;
	border: none !important;
	text-align: left;
}

#top-content {
	box-sizing: border-box;
	/* #7c80d8 */
	background: rgb(61,66,170);
	background: linear-gradient(0deg, rgba(61,66,170,1) 0%, rgba(89,94,193,1) 35%, rgba(136,141,237,1) 100%);
	height: 100%;
	display: flex;
    align-items: center;
	text-align: center;
}
#top-content h1 {
	color: #fff;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 56px;
	text-align: center;
	margin: 0;
	animation-name: lettercondense;
    animation-duration: .8s;
    user-select: none;
}

#top-content p {
	color: #fff;
	font-weight: normal;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	margin-top: 20px;
	animation-name: fadeup;
    animation-duration: .8s;
    line-height: 1.5em;
}

#top-content .marketing-content {
	width: 600px;
	margin: 0 auto;
	/*margin-top: 0%;*/
}

#top-content .marketing-content > a {
	text-decoration: none; 
}
#top-content .marketing-content .download-button {
	text-transform: uppercase;
	display: block;
	padding: 20px 20px;
	padding-left: 65px;
	font-weight: 700;
	font-family: 'Work Sans', sans-serif;
	color: rgb(120,120,120);
	background-color: #fff;
	border-radius: 5px;
	text-decoration: none;
	font-size: 22px;
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    background-image: url(../images/chrome.ico);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 14px 13px;
	/*animation-name: fadein;*/
    /*animation-duration: .8s;*/
    opacity: 1;
}

#top-content .marketing-content .download-button:hover {
	animation-name: fadehover;
    animation-duration: .8s;
    opacity: .7;

}

#top-content .marketing-content .how-this-works-link {
	display: block;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	width: fit-content;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	animation-name: fadein;
    animation-duration: .8s;
    cursor: pointer;
}
#top-content .marketing-content .how-this-works-link * {
	cursor: pointer;
}

#top-content .marketing-content .how-this-works-link:hover {
	opacity: .7;
}

#top-content .marketing-content .how-this-works-arrow {
	background-image: url(../images/down-arrow-white.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

.info-row {
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(200,200,200);
	padding-bottom: 50px;
	padding-top: 25px;
}

.info-content {
	box-sizing: border-box;
	width: 100%;
}

.info-content .left, .info-content .right {
	vertical-align: top;
	padding-top: 60px;
	padding-bottom: 40px;
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
}

.info-content .left {
	padding-left: 100px;
	padding-right: 50px;
}

.info-content .right {
	padding-right: 100px;
}

.info-content .left.rankings {
}

.info-title {
	margin-bottom: 10px !important;
}
.info-content .left.rankings .info-title {
	margin-bottom: 5px !important;
	/*text-align: center;*/
}
.info-content .left.rankings table {
	/*margin: 0 auto;*/
	max-width: 480px;
	overflow-y:scroll;
    height: 500px;
    display: block;
	margin-top: 25px;
	border-collapse: collapse;
	box-sizing: border-box;
}
.info-content .left.rankings tbody {
	box-sizing: border-box;
	width:100%;
	display: table;
}
.info-content .left.rankings table tr {
}
.info-content .left.rankings table td,
.info-content .left.rankings table th {
	padding: 10px;
	border:1px solid rgb(120,120,120);
	font-family: 'Work Sans', sans-serif;
}

.info-content .left.rankings table td {
	font-size: 22px;
}

.info-content .left.rankings table th {
	background-color: #fff;
	color: rgba(50,50,50,1);
	/*background: linear-gradient(0deg, rgba(61,66,170,1) 0%, rgba(89,94,193,1) 35%, rgba(136,141,237,1) 100%);*/
	font-size: 22px;
	font-weight: bolder;
}

.info-content .left.rankings .ranking-row {
	cursor: pointer;

}

.info-content .left.rankings .ranking-row:hover {
	animation-name: fadehover;
    animation-duration: .4s;
    opacity: .7
}
.info-content .left.rankings .publication {
	width: 80%;
}

.info-content .left.rankings .rating {
	text-align: center;
	width: 20%;
}

.info-content .left.rankings .last-article-row div {
	padding: 10px;
	display: none;
}

.info-content .left.rankings .last-article-row td {
	font-size: 18px;
	width: 100%;
}

.info-content .info-title {
	color: rgb(50,50,50);
	font-family: 'Nunito', sans-serif;
	font-size: 32px;
	margin:0;
}

.info-content ol {
	padding-left: 0;
	list-style: none;
	counter-reset: item;
}
.info-content ol > li {
	counter-increment: item;
	margin-bottom: 5px;
}
.info-content ol > li:before {
	content: counter(item)'.';
	font-family: 'Work Sans', sans-serif;
	width: 1.2em;
	font-size: 22px;
	text-align: center;
	display: inline-block;
}
.info-content .info-body p, li, ul, ol, span, div {
	color: rgb(50,50,50);
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.5em;
}
.info-content .info-body ol > li {
	margin-bottom: 15px;
} 
.info-content .info-body li label{
	font-size: 22px;
}
.info-content .info-body li ul {
	margin-top: 10px;
	list-style-type: square;
}

.info-content .image-container {
	text-align: center;
}
.info-content .screenshot {
	width: 400px;
	border-radius: 5px;
}
#footer {
	text-align: center;
	margin-top: 120px;
	margin-bottom: 50px;
}

#footer p {
	margin: 0 auto;
	font-size: 12px;
	color: rgb(150,150,150);
}

@media only screen and (max-width: 600px) {
	body {
		min-width: unset;
		width: 100%;
		min-width: 100%;
	}
	#top-content {
		box-sizing: border-box;
		width: 100%;
	}

	#top-content .marketing-content {
		width: 80%;
		margin: 0 auto;
	}
	#top-content h1 {
		font-size: 36px;
	}
	#top-content p {
		font-size: 16px;
	}
	#top-content .marketing-content .download-button {
		width: 200px !important;
		background-position: 10% 50% !important;
		font-size: 16px !important;
	}
	.info-content .left,
	.info-content .right {
		width: 100%;
		display: block;
		padding: 20px 40px;
	}

	.info-content .screenshot{
		width: 100%;
	}

	.info-content .rating-info {
		display: flex ;
		flex-direction: column-reverse;
	}

	.rankings table th,
	.rankings table td {
		font-size: 16px !important;
	}
	/*#home {
		padding: 20px;
		box-sizing: border-box;
	}
	#home .marketing-content {
		margin-top: -20px;
	}*/
}