body {
  padding: 25px 50px;
  font: 14px "sans-serif", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

a {
  color: #00B7FF;
}

a:hover, a:focus {
	color: #00B7FF;
	text-decoration: none;
}

h2 {
	font-size: 1em;
	font-family: Helvetica;
	color: rgb(100,100,100);
	display: inline-block;
}

#wrapper {
	margin: 0 auto;
	max-width: 1100px;
    min-width: 1100px;
}

header {
	margin-bottom: 10px;
	min-height: 75px;
	background-color: rgb(240,240,240, .5);
}

header ul {
	padding: 0;
	list-style-type: none;
	display: inline-block;
}

header ul li {
	display: inline;
	margin-right: 15px;
	font-family: sans-serif;
}

header ul li h1.title {
	font-size: 2em;
	font-family: helvetica;
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 15px;
	color: rgb(100,100,100);
	letter-spacing: 1px;
}

header p.subtitle {
	font-size: 1em;	
	font-family: sans-serif;
	color: rgb(150,150,150);
	font-style: italic;
}


.topics, .topTopics {
	margin: 0 auto;
	text-align: center;
}

.topics ul,
.topTopics ul {
	padding: 0;
	list-style-type: none;
	display: inline-block;
}

.topics ul li,
.topTopics ul li {
	display: inline;
	margin-right: 15px;
	font-family: sans-serif;
}

.topTopics h2 {
	display: block;
}

.topTopics {
	padding-top: 10px;
	border-bottom: 1px solid rgb(240,240,240);
	padding-bottom: 25px;
}

.topTopics .topicBlock {
	background-color: rgb(255,100,100);
}

.topicBlock {
	width: 350px;
	height: 285px;
	background-color: rgb(255,255,255);
	display: inline-block;
	text-decoration: none;
	margin: 10px;
	vertical-align: top;
	border-radius: 3px;
	box-sizing: border-box;
	text-align: left;
	border: 1px solid rgb(220,220,220, .75);
}

.topicBlockContent {
	padding: 15px;
}
.topicBlock h3 {
	font-size: 1.3em;
	font-weight: 600;
	color: rgb(0,0,0,.84);
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-height: 24px;        /* fallback */
	max-height: 48;       /* fallback */
}

.topicBlock .topicBlockImage {
	height: 150px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.topicBlock .coveredBy {
	color: rgb(100,100,100,.84);
	display: block;
	font-weight: lighter;
	font-size: .9em;
	line-height: 
}

.topicBlock .timestamp {
	color: rgb(200,200,200,.7);
	display: block;
	font-weight: lighter;
	font-size: .9em;
}

.topicView {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 25px;
	text-align: left;
}

#review-pabel-label {
	color: rgb(155, 160, 165);
	padding: 8px 0px;
	text-transform: uppercase;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid rgb(223, 229, 235);
	margin-bottom: 10px;
}
.left, .right {
	vertical-align: top;
	display: inline-block;
}

.left {
	width: 550px;
	margin-right: 30px;
	height: 750px;
	max-height: 600px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(200,200,200);
	border-radius: 3px;
	overflow-y: scroll;
}

.right {
	width: calc(100% - 580px);
	background-color: rgb(255,255,255,.9);
	border: 1px solid rgb(200,200,200);
	border-radius: 3px;
	padding: 10px 15px 25px 15px;
	max-width: 680px;
	height: auto;
	box-sizing: border-box;
}

.right img {`
	max-width: 600px;
}

.topicLinks {
	background-color: rgb(255,255,255, .9);
	text-align: left;
	border-collapse: collapse;
}

.topicLinks tr {
	overflow: hidden;
	box-sizing: border-box;
}

.topicLinks tr:hover {
	background-color: rgb(245,245,245);
	cursor: pointer !important;
}

.topicLinks th {
	padding: 7.5px;
	box-sizing: border-box;
	border: 1px solid rgb(223, 229, 235);
}

.topicLinks tr:first-child th {
  border-top: 0;
}
.topicLinks tr:last-child td {
  border-bottom: 0;
}
.topicLinks tr td:first-child,
.topicLinks tr th:first-child {
  border-left: 0;
}
.topicLinks tr td:last-child,
.topicLinks tr th:last-child {
  border-right: 0;
}
.topicLinks th label {
	color: rgb(120,120,120);
}

.back {
	text-decoration: none;
	font-size: 24px;
	color: rgb(100,100,100);
	display: block;
	text-align: left;
}

.loadingGif {
	background: url(/images/loading-spinner.gif);
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .7;
	display: none;
}

#slider {
	margin-bottom: 15px;
}

#slider .ui-slider-handle {
	border-radius: 10px;
	width: 1.4em;
	height: 1.4em;
	top: -.4em;
	outline: none;
}

#slider .ui-slider-handle:hover {
	cursor: pointer;
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
}

#slider .ui-slider-handle:focus {
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
}

#slider .slider-handle-text {
	position: relative;
	margin-top: 20px;
    margin-left: -10px;
}

#chosenArticleTitle {
	font-size: 1.5em;
	display: inline;
	font-weight: bold;
}

#chosenArticlePub {
	font-size: 1.5em;
	color: rgb(175,175,175);
}

#chosenArticleImage {
	height: 200px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 15px;
}

.right h2 {
	font-size: 16px;
	color: rgb(50,50,50);
}
.right form {
}

.right #review-link {
	display: block;
	padding: 10px;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid rgb(200,200,200);
}

.right #review-link:focus {   
    border: 1px solid rgb(100,100,100);
    outline: 0 none;
}

.rangeslider {
  margin: 0px 0px 10px 0px !important;
}

.rangeslider .rangeslider__handle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(180,180,180);
}
.rangeslider__fill,
.rangeslider.rangeslider-horizontal {
  box-shadow: 0 0 0 transparent;
  border: 1px solid rgb(250,250,250);
}
.rangeslider .rangeslider__fill {
  background-color: rgb(120,255,120);
}
.rangeslider .rangeslider__handle:after {
  content: none !important;
}
.rangeslider .rangeslider__handle-tooltip {
  background-color: transparent;
  color: rgb(100,100,100);
  font-size: 16px;
  top: 15px;
}
.rangeslider .rangeslider__handle-tooltip:after {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    left: 50%;
    bottom: -8px;
    transform: none;
}

.ql-container {
	height: 150px;
	font-size: 14px;
}
.ql-editor {
	font-size: 16px;
}
.reviewSubmit {
	background-color: rgb(100,140,200);
    padding: 8px 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    opacity: .8;
    float: right;
    margin-top: -39px;
    color: rgb(255,255,255);
}