<title><%= title %></title>
<meta name="keywords" content="newsblock, news, block, redirect, recommend, credible, credibility, fake, news"/>
<meta name="description" content="Your recommender of credible news sources"/>
<meta name="language" content="EN">
<meta name="Classification" content="News">
<meta name="author" content="Jared Wright, jawerty210@gmail.com">
<meta name="reply-to" content="jawerty210@gmail.com">
<meta name="owner" content="Jared Wright">
<meta name="url" content="http://www.newsblock.com">
<meta name="identifier-URL" content="http://www.newsblock.com">
<meta name="revisit-after" content="7 days">
<meta http-equiv="Expires" content="0">
<link rel="shortcut icon" type="image/ico" href="/newsblock.ico" />
<!-- Facebook -->
<meta name="og:title" content="Newsblock"/>
<meta name="og:type" content="website"/>
<meta name="og:url" content="http://newsblock.co"/>
<meta name="og:image" content=""/>
<meta name="og:site_name" content="Newsblock"/>
<meta name="og:description" content="Your recommender of credible news sources"/>

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@newsblock" />
<meta name="twitter:creator" content="@newsblock" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-touch-fullscreen" />
<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans"
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38539483-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38539483-4');
</script>

