<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans">
