body {
	background: #7c80d8;
}

#wrapper {
	width: 850px;
	margin: 0 auto;
	margin-top: 40px;
}

#wrapper p, label, span, a, h2, h3 {

	font-size: 16px;
	font-family: sans-serif;
	color: #fff;
}

#wrapper h1 {
	text-align: center;
	font-size: 40px;
	font-family: "Nunito";
	/*color: rgb(207,70,71);*/
	color: #fff;
	font-weight: 500;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}


#reasonsBlock {
	color: #fff;
	display: none;
}

.content {
	width: 475px;
	box-sizing: border-box;
	margin: 20px auto; 
}

.content #goodArticleBlock {
	background-color: #fff;
	border: 1px solid rgb(220,220,220);
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
}


.content #goodArticleBlock * {
	color: rgb(50,50,50);
}

.content #goodArticleBlockContent {
	margin-top: 25px;
}

.content #goodArticleHint {
	width:100%;
	text-align: left;
	border-bottom: 1px solid rgb(220,220,220);
	line-height:0.1em;
	margin:10px 0 25px;
}


.content #goodArticleHint span {
	background:#fff;
	padding-right: 10px;
	color: rgb(150,150,150);
	font-size: 14px;
}

.content #goodArticleLink {
	font-size: 24px;
	text-decoration: none;
	font-family: Helvetica;
}

.content #goodArticleImage {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 100% ;
}

.content #goodArticlePreview {
	margin-top: 10px;
	font-size: 16px;
}

.content #fromLine {
	line-height: 16px;
	font-weight: bold;
	display: inline-block;
}

.content #fromLineIcon {
	height: 32px;
}

.content #fromLineText {
	font-size: 24px;
	font-family: helvetica;
	vertical-align: top;
	margin-top: 7px;
	display: inline-block;
}
