body {
	background: #7c80d8;
}

#wrapper {
	width: 850px;
	margin: 0 auto;
	margin-top: 20px;
}

#wrapper p, label, span, a, h2, h3 {

	font-size: 16px;
	font-family: sans-serif;
	color: #fff;
}

#wrapper h1 {
	text-align: center;
	font-size: 40px;
	font-family: "Nunito";
	/*color: rgb(207,70,71);*/
	color: #fff;
	font-weight: 500;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}


#reasonsBlock {
	color: #fff;
	display: none;
}

.content {
	width: 475px;
	box-sizing: border-box;
	margin: 20px auto; 
}

.content #badArticleHint {
	font-weight: normal;
}

.content #badArticleHint label {
	font-weight: bold;
}

.content #clickedOnIcon {
	height: 25px;
	display: inline-block;
	margin-top: -5px;
    margin-left: 8px;
    vertical-align: middle;
}

.content #goodArticleBlock {
	text-align: center;
	background-color: #fff;
	border: 1px solid rgb(220,220,220);
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
}


.content #goodArticleBlock * {
	color: rgb(50,50,50);
}

.content #goodArticleBlockContent {
	text-align: left;
	margin-top: 25px;
}

.content #goodArticleHint {
	width:100%;
	text-align: center;
	border-bottom: 2px solid rgb(220,220,220);
	line-height:0.1em;
	margin:20px 0;
}


.content #goodArticleHint span {
	background:#fff;
	padding: 0 10px;
	color: rgb(150,150,150);
	font-size: 14px;
}

.content .goodArticleLink {
	font-size: 24px;
	text-decoration: none;
	font-family: Helvetica;
}

.content #goodArticleImage {
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-size: 100% ;
}

.content #goodArticlePreview {
	margin-top: 10px;
	font-size: 16px;
}

.content #fromLine {
	line-height: 16px;
	font-weight: bold;
	display: inline-block;
}

.content #fromLineIcon {
	height: 32px;
}

.content #fromLineText {
	font-size: 24px;
	font-family: helvetica;
	vertical-align: top;
	margin-top: 7px;
	display: inline-block;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7c80d8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7c80d8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settingsOption {
	padding-bottom: 10px;
	border-bottom: 2px solid rgb(220,220,220);
}
.settingsText {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.settingsValue {
	display: inline-block;
	vertical-align: middle;
}