<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/meta') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <div id="home">
      <div class="marketing-content">
        <h1>
          <%= title %>
        </h1>
        <p>
          Your recommender of credible news sources 
          <br />
          <br />
          With the Newsblock plugin you can support quality news by simply browsing the web
        </p>
        <a href="https://chrome.google.com/webstore/detail/pkhdmfigkmhboekijlapffdjbdhhmmbg" class="download-button">
          Download on Chrome
        </a>
      </div>
    </div>
    <%- include('partials/footer') %>
    
  </body>
</html>
  	
